## Tuples

it is an ordered, immutable collection of elements. Cannot change, add or reorder

In [1]:
t = (10, 20, 30)

In [3]:
t

(10,)

In [2]:
t = (10,)     # tuple
x = (10)      # NOT a tuple (just an integer)

In [4]:
t

(10,)

In [5]:
x

10

In [6]:
t = ("john", 25, 55.6, True) # with mixed data types
print(t)

('john', 25, 55.6, True)

In [7]:
#indexing
t = ("apple", "banana", "cherry")
print(t[0])
print(t[-1])

apple
cherry

In [8]:
# Immutability
t = (10, 20, 30)
t[1] = 50

TypeError: 'tuple' object does not support item assignment

In [9]:
t2 = t + (40,)  # create new tuple
print(t2)       # (10, 20, 30, 40)

(10, 20, 30, 40)

In [10]:
## 2 methods in tuples
# 1. count
t = (1, 2, 2, 3, 2)
print(t.count(2))

#index()
t = ("a", "b", "c", "b")
print(t.index("b"))

3
1

## Sets

it is unordered, mutable and unique element collection

In [11]:
s = {1, 2, 3}
s

{1, 2, 3}

In [12]:
## sets automatically delete duplicates
s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

In [13]:
# set from list
s = set([1, 2, 3])
print(s)

{1, 2, 3}

In [14]:
# Mixed data Types
s = {10, "apple", (1, 2)}
print(s)

{10, (1, 2), 'apple'}

In [15]:
# adding new element
s = {1, 2}
s.add(3)
print(s)

{1, 2, 3}

In [16]:
# add multiple elements
s = {1, 2}
s.update([3, 4, 5])
print(s)

{1, 2, 3, 4, 5}

In [17]:
## to remove an element
s = {1, 2, 3}
s.remove(2)
print(s)

{1, 3}

In [18]:
# no error if element is not present
s = {1, 2, 3}
s.discard(10)
print(s)

{1, 2, 3}

In [19]:
# pop removes random element
s = {1, 2, 3}
print(s.pop())
print(s)

1
{2, 3}

In [20]:
s.clear()
print(s)

set()

## Dictionaries

it is unordered key-value pair collection. 
keys must be unique, immutable(string, number, tuple). 
values can be any type

In [21]:
student = {
    "name": "john",
    "age": 25,
    "marks": 95
}
print(student)

{'name': 'john', 'age': 25, 'marks': 95}

In [22]:
# creating a dictionary
d = {"a": 1, "b": 2}
print(d)

# Using Dict
d2 = dict(name="john", age=22)
print(d2)

{'a': 1, 'b': 2}
{'name': 'john', 'age': 22}

In [23]:
# mixed data types

d = {"name": "john", "age": 25, "skills": ["Python", "ML"]}
print(d)

{'name': 'john', 'age': 25, 'skills': ['Python', 'ML']}

In [24]:
# Accessing Elements
# 1. using key
student = {"name": "john", "age": 22}
print(student["name"])

# 2. using get()

print(student.get("name"))

john
john

In [25]:
# Adding new element
d = {"a": 1}
d["b"] = 2
print(d)

# updating
d["a"] = 10
print(d)

{'a': 1, 'b': 2}
{'a': 10, 'b': 2}

In [26]:
# remove specific element
d = {"a": 1, "b": 2}
d.pop("a")
print(d)

{'b': 2}

In [27]:
# removes last inserted key
d = {"a": 1, "b": 2}
d.popitem()
print(d)

{'a': 1}

In [28]:
# delete a key
d = {"a": 1, "b": 2}
del d["b"]
print(d)

#empty the dictionary
d.clear()
print(d)

{'a': 1}
{}

In [29]:
# loop keys
d = {"a": 1, "b": 2,"c":3}
for k in d:
    print(k)

a
b
c

In [30]:
# loop values
d = {"a": 1, "b": 2,"c":3}
for v in d.values():
    print(v)

1
2
3

In [31]:
# key value pairs
for k, v in d.items():
    print(k, v)

a 1
b 2
c 3

In [32]:
# nested dictionary
student = {
    "name": "john",
    "marks": {
        "math": 90,
        "python": 95
    }
}
print(student["marks"]["python"])

95

## Dictionary Comprehension

In [33]:
# A concise way to create dictionaries.
squares = {x: x*x for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## List Comprehension

In [34]:
# without comprehension
nums = [1, 2, 3, 4, 5, 6]
evens = []

for n in nums:
    if n % 2 == 0:
        evens.append(n)

print(evens)

[2, 4, 6]

In [35]:
# with comprehension
nums = [1, 2, 3, 4, 5, 6]
evens = [n for n in nums if n % 2 == 0]
print(evens)   # [2, 4, 6]

[2, 4, 6]

## shallow copy
A shallow copy creates a new outer object,but the inner elements are not copied â€” only references are copied.
Meaning: Changes to inner elements affect both copies. Changes to outer list (append/remove) affect only one.

In [36]:
a = [[1, 2], 3]
b = a.copy()

b[0][1] = 99

print(a)
print(b)

[[1, 99], 3]
[[1, 99], 3]

## Deep Copy
A deep copy creates a new outer object and recursively copies all inner elements.

Meaning:Completely independent copy

Changing inner elements does NOT affect the original

In [37]:
import copy

a = [[1, 2], 3]
b = copy.deepcopy(a)

b[0][1] = 99

print(a)
print(b)

[[1, 2], 3]
[[1, 99], 3]

## Functions

Functions are reusable code blocks

In [38]:
# difining the function
def greet():
    print("Hello!")

# calling the function
greet()

Hello!

In [39]:
# function with parameters
def add(a, b):
    return a + b

print(add(3, 5))

8

In [40]:
def multiply(a, b):
    return a * b

result = multiply(4, 5)
print(result)

20

In [41]:
#multiple returns
def calc(a, b):
    return a+b, a-b

x, y = calc(10, 5)
print(x, y)

15 5